<root>
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" 
        integrity="sha256-fmMNkMcjSw3xcp9iuPnku/ryk9kaWgrEbfJfKmdZ45o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" 
        integrity="sha256-AIodEDkC8V/bHBkfyxzolUMw57jeQ9CauwhVW6YJ9CA=" crossorigin="anonymous" />
    <?php require BASE_DIR . '/sper/style.xml'; ?>
    <div class="bg-white">
    <container ng-controller="Sper.Header">
        <navbar bg="white" mb="0" bd="none">
            <?php require 'brand.xml';?>
            
            <navbar.form align="left" class="pl-1 pr-1">
                <?php require 'category.xml'; ?>
                <?php require 'search.xml'; ?>
                <?php require 'city.xml'; ?>
                <form.group>
                    <btn.default size="xs" style="height: 34px;">
                        <icon symbol="phone" class="fs-16" /> Tải App
                    </btn.default>
                </form.group>
            </navbar.form>
            
            <navbar.nav align="right" id="top-menu" class="navbar-collapse collapse pl-1 pr-1">
                <navbar.nav.item>
                    <a href="#" data-toggle="modal" data-target="#loginModal" ng-hide="user" class="pl-1 pr-1">Đăng nhập</a>
                </navbar.nav.item>
                <navbar.nav.item ng-show="user" class="dropdown dropdown-no-close dropdown-no-bg">
                    <navbar.link class="dropdown-toggle pl-1 pr-1" data-toggle="dropdown" 
                            href="#" onclick="return false;">
                        <fa symbol="user" size="1x" class="fs-20" />
                        %%user.fullname%% <caret />
                    </navbar.link>
                    <?php require 'context/user.xml';?>
                </navbar.nav.item>
                <navbar.nav.item class="dropdown dropdown-no-close dropdown-no-bg" ng-show="user">
                    <navbar.link class="dropdown-toggle pl-1 pr-1" data-toggle="dropdown" 
                            href="#" onclick="return false;">
                        <far symbol="bell" size="1x" class="fs-20" />
                    </navbar.link>
                    <dropdown.menu.div style="width: 400px;">
                        <?php require 'context/notification.xml';?>
                    </dropdown.menu.div>
                </navbar.nav.item>
                <navbar.nav.item class="dropdown dropdown-no-close dropdown-no-bg">
                    <navbar.link class="dropdown-toggle pl-1 pr-1" data-toggle="dropdown" 
                            href="#" onclick="return false;">
                        <fa symbol="shopping-cart" size="1x" class="fs-20" />
                        <badge bg="red" class="hidden">1</badge>
                    </navbar.link>
                    <dropdown.menu.div>
                        <?php require 'context/shoppingcart.xml';?>
                    </dropdown.menu.div>
                </navbar.nav.item>
                <navbar.nav.item class="dropdown dropdown-no-close dropdown-no-bg">
                    <navbar.link class="dropdown-toggle pl-1 pr-1" data-toggle="dropdown" 
                            href="#" onclick="return false;">
                        <icon symbol="plus-sign" class="fs-20" />
                    </navbar.link>
                    <dropdown.menu>
                        <dropdown.menu.item style="width: 250px;">
                            <media bb="1">
                                <media.left pd="3">
                                    <far symbol="star" />
                                </media.left>
                                <media.body>
                                    <a href="#" style="white-space: normal;line-height: 25px;"> Viết blog chia sẻ trải nghiệm cho cộng đồng</a>
                                </media.body>
                            </media>
                            <media>
                                <media.left pd="3">
                                    <fab symbol="youtube" />
                                </media.left>
                                <media.body>
                                    <a href="#" style="white-space: normal;line-height: 25px;"> Tạo Video Review</a>
                                </media.body>
                            </media>
                        </dropdown.menu.item>
                    </dropdown.menu>
                </navbar.nav.item>
                <navbar.nav.item class="dropdown dropdown-no-close dropdown-no-bg">
                    <navbar.link class="dropdown-toggle pl-1 pr-1" data-toggle="dropdown" 
                            href="#" onclick="return false;">
                        <img src="/images/flag/vn.png" style="width: 20px; height: 20px;" /> <caret />
                    </navbar.link>
                    <dropdown.menu>
                        <dropdown.menu.item>
                            <a href="#">
                                <img src="/images/flag/vn.png" style="width: 20px; height: 20px;" /> Tiếng Việt
                            </a>
                        </dropdown.menu.item>
                        <dropdown.menu.item>
                            <a href="#">
                                <img src="/images/flag/en.png" style="width: 20px; height: 20px;" />
                                English
                            </a>
                        </dropdown.menu.item>
                    </dropdown.menu>
                </navbar.nav.item>
            </navbar.nav>
        </navbar>
        
    </container>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" 
        integrity="sha256-ImQvICV38LovIsvla2zykaCTdEh1Z801Y+DSop91wMU=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" 
        integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>
</root>