<root>
    <panel>
        <panel.heading pd="0">
            <thumbnail mg="0">
                <thumbnail.img src="http://placehold.it/64x64" class="img-circle" />
                <thumbnail.caption class="text-center">
                    Đinh Nhật Nam<br />
                    <small>dinhnhatnam@gmail.com</small>
                </thumbnail.caption>
            </thumbnail>
        </panel.heading>
        <listgroup class="account-menu">
            <listgroup.item class="active"><a href="/clientarea/info"><fa symbol="user" /> Thông tin tài khoản</a></listgroup.item>
            <listgroup.item><a href="/clientarea/changepassword"><fa symbol="user" /> Đổi mật khẩu</a></listgroup.item>
            <listgroup.item><a href="/clientarea/trophy"><fa symbol="trophy" /> Điểm thưởng</a></listgroup.item>
            <listgroup.item><a href="/clientarea/payment"><fa symbol="credit-card" /> Thanh toán</a></listgroup.item>
            <listgroup.item><a href="/clientarea/collection"><fa symbol="bookmark" class="bookmark-scale" /> Bộ sưu tập</a></listgroup.item>
            <listgroup.item><a href="/clientarea/service"><fa symbol="cubes" /> Dịch vụ của bạn</a></listgroup.item>
            <listgroup.item><a href="/clientarea/privilege"><fa symbol="user" /> Phân quyền chi nhánh</a></listgroup.item>
            <listgroup.item><a href="/clientarea/feedback"><fa symbol="inbox" /> Góp ý</a></listgroup.item>
            <listgroup.item><a href="/clientarea/history"><fa symbol="history" /> Lịch sử</a></listgroup.item>
            <listgroup.item><a href="/logout"><fa symbol="power-off" /> Thoát</a></listgroup.item>
        </listgroup>
        <panel.footer pd="0">
        <btn.success class="btn-block" tag="a" href="/clientarea/createservice">
            Tạo dịch vụ
        </btn.success>
        </panel.footer>
    </panel>
</root>