<root>
    <panel>
        <panel.heading pd="0">
            <thumbnail mg="0">
                <thumbnail.img src="http://placehold.it/64x64" class="img-circle" />
                <thumbnail.caption class="text-center">
                    Dinh Nhat Nam<br />
                    <small>dinhnhatnam@gmail.com</small>
                </thumbnail.caption>
            </thumbnail>
        </panel.heading>
        <listgroup class="account-menu">
            <listgroup.item class="active"><a href="#"><fa symbol="user" /> Thông tin tài khoản</a></listgroup.item>
            <listgroup.item><a href="#"><fa symbol="user" /> Đổi mật khẩu</a></listgroup.item>
        </listgroup>
        <panel.footer pd="0">
        <btn.success class="btn-block">
            Tạo dịch vụ
        </btn.success>
        </panel.footer>
    </panel>
</root>